:root {
  --black: #322625;
  --grey: #ebebeb;
  --blue: #c0e3e5;
  --yellow: #fdc936;
}

body {
  background-color: var(--grey);
  color: var(--black);
  padding: 5%;
}

.table-style{
  border-color:#322625;
  border-width: 1;
  border: 1px solid;
  width: 100%;
}

.table-header {
  background-color: var(--blue);
  color: var(--black);
  font-size: small;
  padding: auto;
}

.td-style{ 
  border-width: 1px solid;
  font-size: smaller;
}

.button {
  color: var(--black);
  border-style: hidden;
}

.pagination{
  padding: 10px;
}

.active{
  border-style: hidden;
  background-color: var(--yellow);
  color: var(--black);
}

.inactive{
  border-style: hidden;
  color: var(--black);
}

.head-table{
  width: 100%;
  text-align: center;
}

.info{
  width: 100%;
  text-align: center;
  font-size: xx-large;
  padding-top: 150px;
  color: var(--black);
}

.input-style{
  margin-left: 20px;
  padding: 5px;
}